.winner {
  text-align: center;
  border: 5px solid #daa520;
  width: 350px;
  height: 450px;
  margin: auto;
}

button {
  padding: 20px;
  font-size: 20px;
  background-color: darkblue;
  color: #fff;
  border-radius: 20px;
  margin: 20px;
}

button:hover {
  background-color: #fff;
  color: black;
}
